{#{% load static %}#}
{##}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en-US" dir="ltr">#}
{##}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{##}
{#    <!-- ===============================================-->#}
{#    <!--    Document Title-->#}
{#    <!-- ===============================================-->#}
{#    <title>Falcon | Dashboard &amp; Web App Template</title>#}
{##}
{##}
{#    <!-- ===============================================-->#}
{#    <!--    Favicons-->#}
{#    <!-- ===============================================-->#}
{#    <meta name="theme-color" content="#ffffff">#}
{##}
{##}
{##}
{#    <!-- ===============================================-->#}
{#    <!--    Stylesheets-->#}
{#    <!-- ===============================================-->#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"#}
{#          rel="stylesheet">#}
{#    <script>#}
{#        var isRTL = JSON.parse(localStorage.getItem('isRTL'));#}
{#        if (isRTL) {#}
{#            var linkDefault = document.getElementById('style-default');#}
{#            var userLinkDefault = document.getElementById('user-style-default');#}
{#            linkDefault.setAttribute('disabled', true);#}
{#            userLinkDefault.setAttribute('disabled', true);#}
{#            document.querySelector('html').setAttribute('dir', 'rtl');#}
{#        } else {#}
{#            var linkRTL = document.getElementById('style-rtl');#}
{#            var userLinkRTL = document.getElementById('user-style-rtl');#}
{#            linkRTL.setAttribute('disabled', true);#}
{#            userLinkRTL.setAttribute('disabled', true);#}
{#        }#}
{#    </script>#}
{#</head>#}
{##}
{##}
{#<body>#}
{##}
{#<!-- ===============================================-->#}
{#<!--    Main Content-->#}
{#<!-- ===============================================-->#}
{#<main class="main" id="top">#}
{#    <div class="container" data-layout="container">#}
{#        <script>#}
{#            var isFluid = JSON.parse(localStorage.getItem('isFluid'));#}
{#            if (isFluid) {#}
{#                var container = document.querySelector('[data-layout]');#}
{#                container.classList.remove('container');#}
{#                container.classList.add('container-fluid');#}
{#            }#}
{#        </script>#}
{#        <div class="row flex-center min-vh-100 py-6">#}
{#                <div class="card">#}
{#                    <div class="card-body p-4 p-sm-5">#}
{#                        <div class="row flex-between-center mb-2">#}
{#                            <div class="col-auto">#}
{#                                <h5>Log in</h5>#}
{#                            </div>#}
{#                            <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">or</span> <span><a#}
{#                                    href="{% url 'user:register_page' %}">Create an account</a></span></div>#}
{#                        </div>#}
{##}
{##}
{#                        <form method="POST" action="{% url 'user:login_page' %}">#}
{#                            {% csrf_token %}#}
{##}
{#                            <div class="mb-3">#}
{#                                {{ form.non_field_errors }}#}
{#                            </div>#}
{##}
{#                            <!-- Email Input -->#}
{#                            <div class="mb-3">#}
{#                                <label for="email" class="form-label">Email Address</label>#}
{#                                <input#}
{#                                        type="email"#}
{#                                        name="email"#}
{#                                        id="email"#}
{#                                        placeholder="Email address"#}
{#                                        value="{{ form.email.value|default:'' }}"#}
{#                                        class="form-control {% if form.email.errors %}is-invalid{% endif %}"#}
{#                                >#}
{#                                {% for error in form.email.errors %}#}
{#                                    <div class="invalid-feedback">{{ error }}</div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{##}
{#                            <!-- Password Input -->#}
{#                            <div class="mb-3">#}
{#                                <label for="password" class="form-label">Password</label>#}
{#                                <input#}
{#                                        type="password"#}
{#                                        name="password"#}
{#                                        id="password"#}
{#                                        placeholder="Password"#}
{#                                        class="form-control {% if form.password.errors %}is-invalid{% endif %}"#}
{#                                >#}
{#                                {% for error in form.password.errors %}#}
{#                                    <div class="invalid-feedback">{{ error }}</div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{##}
{#                            <!-- Remember Me & Forgot Password -->#}
{#                            <div class="row flex-between-center mb-3">#}
{#                                <div class="col-auto">#}
{#                                    <div class="form-check mb-0">#}
{#                                        <input class="form-check-input" type="checkbox" id="remember-me"#}
{#                                               name="remember_me">#}
{#                                        <label class="form-check-label mb-0" for="remember-me">Remember me</label>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-auto">#}
{#                                    <a class="fs--1" href="#">Forgot Password?</a>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <!-- Submit Button -->#}
{#                            <div class="mb-3">#}
{#                                <button class="btn btn-primary d-block w-100 mt-3" type="submit">Log in</button>#}
{#                            </div>#}
{#                        </form>#}
{#                        {% if messages %}#}
{#                            <ul class="messages">#}
{#                                {% for message in messages %}#}
{#                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
{##}
{#                        <div class="position-relative mt-4">#}
{#                            <hr class="bg-300"/>#}
{#                            <div class="divider-content-center">or log in with</div>#}
{#                        </div>#}
{##}
{#                    <!--Google facebook, github login-->#}
{#                        <div class="row g-2 mt-2">#}
{#                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100"#}
{#                                                     href="{% url 'social:begin' 'google-oauth2' %}"><span class="fab fa-google-plus-g me-2"#}
{#                                                                    data-fa-transform="grow-8"></span> google</a></div>#}
{#                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100"#}
{#                                                     href="{% url 'social:begin' 'facebook' %}"><span class="fab fa-facebook-square me-2"#}
{#                                                                    data-fa-transform="grow-8"></span> facebook</a>#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <a class="btn btn-outline-dark btn-sm d-block w-100"#}
{#                                   href="{% url 'social:begin' 'github' %}">#}
{#                                    <span class="fab fa-github me-2" data-fa-transform="grow-8"></span> GitHub#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#</main>#}
{#<!-- ===============================================-->#}
{#<!--    End of Main Content-->#}
{#<!-- ===============================================-->#}
{##}
{##}
{##}
{#<!-- ===============================================-->#}
{#<!--    JavaScripts-->#}
{#<!-- ===============================================-->#}
{##}
{#<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>#}
{##}
{##}
{#</body>#}
{##}
{#</html>#}


{% load static %}


 <!DOCTYPE html>
 <html lang="en-US" dir="ltr">

 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Login</title>


  <meta name="theme-color" content="#ffffff">


  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
        rel="stylesheet">
  <script>
   var isRTL = JSON.parse(localStorage.getItem('isRTL'));
   if (isRTL) {
    var linkDefault = document.getElementById('style-default');
    var userLinkDefault = document.getElementById('user-style-default');
    linkDefault.setAttribute('disabled', true);
    userLinkDefault.setAttribute('disabled', true);
    document.querySelector('html').setAttribute('dir', 'rtl');
   } else {
    var linkRTL = document.getElementById('style-rtl');
    var userLinkRTL = document.getElementById('user-style-rtl');
    linkRTL.setAttribute('disabled', true);
    userLinkRTL.setAttribute('disabled', true);
   }
  </script>
  <style>
   body {
    background-color: black;
   }

   .card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   }

   .card-body {
    padding: 3rem;
   }

   h5 {
    color: black;
    font-weight: 700;
    margin-bottom: 1.5rem;
   }

   .form-label {
    color: #333;
    font-weight: 600;
   }

   .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
   }

   .form-control:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
   }

   .is-invalid {
    border-color: #dc3545 !important;
   }

   .invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25rem;
   }

   .btn-primary {
    background-color: orange;
    border-color: orange;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
   }

   .btn-primary:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
    color: black;
   }

   .text-600 a {
    color: orange;
   }

   .text-600 a:hover {
    color: #ff8c00;
   }

   .form-check-label {
    color: #555;
   }

   .fs--1 {
    font-size: 0.875rem;
   }

   hr.bg-300 {
    border-top-color: #eee;
   }

   .divider-content-center {
    color: #777;
   }

   .btn-outline-google-plus {
    border-color: #dd4b39;
    color: #dd4b39;
   }

   .btn-outline-google-plus:hover {
    background-color: #dd4b39;
    color: white;
   }

   .btn-outline-facebook {
    border-color: #3b5998;
    color: #3b5998;
   }

   .btn-outline-facebook:hover {
    background-color: #3b5998;
    color: white;
   }

   .btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
   }

   .btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
   }

   .messages {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
   }

   .messages li {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
   }

   .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
   }

   .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
   }
  </style>
 </head>


 <body>

 <main class="main" id="top">
  <div class="container" data-layout="container">
   <script>
    var isFluid = JSON.parse(localStorage.getItem('isFluid'));
    if (isFluid) {
     var container = document.querySelector('[data-layout]');
     container.classList.remove('container');
     container.classList.add('container-fluid');
    }
   </script>
   <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
     <div class="card">
      <div class="card-body p-4 p-sm-5">
       <div class="row flex-between-center mb-2">
        <div class="col-auto">
         <h5>Log in</h5>
        </div>
        <div class="col-auto fs--1 text-600"><span class="mb-0">or</span> <span><a
               href="{% url 'user:register_page' %}">Create an account</a></span></div>
       </div>


       <form method="POST" action="{% url 'user:login_page' %}">
        {% csrf_token %}

        <div class="mb-3">
         {{ form.non_field_errors }}
        </div>

        <div class="mb-3">
         <label for="email" class="form-label">Email Address</label>
         <input
               type="email"
               name="email"
               id="email"
               placeholder="Email address"
               value="{{ form.email.value|default:'' }}"
               class="form-control {% if form.email.errors %}is-invalid{% endif %}"
         >
         {% for error in form.email.errors %}
          <div class="invalid-feedback">{{ error }}</div>
         {% endfor %}
        </div>

        <div class="mb-3">
         <label for="password" class="form-label">Password</label>
         <input
               type="password"
               name="password"
               id="password"
               placeholder="Password"
               class="form-control {% if form.password.errors %}is-invalid{% endif %}"
         >
         {% for error in form.password.errors %}
          <div class="invalid-feedback">{{ error }}</div>
         {% endfor %}
        </div>

        <div class="row flex-between-center mb-3">
         <div class="col-auto">
          <div class="form-check mb-0">
           <input class="form-check-input" type="checkbox" id="remember-me"
                  name="remember_me">
           <label class="form-check-label mb-0" for="remember-me">Remember me</label>
          </div>
         </div>
         <div class="col-auto">
          <a class="fs--1" href="#">Forgot Password?</a>
         </div>
        </div>

        <div class="mb-3">
         <button class="btn btn-primary d-block w-100 mt-3" type="submit">Log in</button>
        </div>
       </form>
       {% if messages %}
        <ul class="messages">
         {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
        </ul>
       {% endif %}

       <div class="position-relative mt-4">
        <hr class="bg-300"/>
        <div class="divider-content-center">or log in with</div>
       </div>

       {#                        <div class="row g-2 mt-2">#}
       {#                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100"#}
       {#                                                     href="{% url 'social:begin' 'google-oauth2' %}"><span class="fab fa-google-plus-g me-2"#}
       {#                                                                    data-fa-transform="grow-8"></span> google</a></div>#}
       {#                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100"#}
       {#                                                     href="{% url 'social:begin' 'facebook' %}"><span class="fab fa-facebook-square me-2"#}
       {#                                                                    data-fa-transform="grow-8"></span> facebook</a>#}
       {#                            </div>#}
       {#                            <div class="col-sm-4">#}
       {#                                <a class="btn btn-outline-dark btn-sm d-block w-100"#}
       {#                                   href="{% url 'social:begin' 'github' %}">#}
       {#                                    <span class="fab fa-github me-2" data-fa-transform="grow-8"></span> GitHub#}
       {#                                </a>#}
       {#                            </div>#}
       {#                        </div>#}
      </div>
     </div>
    </div>
   </div>
  </div>

 </main>
 <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>


 </body>

 </html>